*{
    margin: 0;
    padding: 0;
}

.background{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(179, 179, 255);    
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    padding: 10px;
    width: 500px;
    height: 700px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    background: white;
    color: black;
    
    
}
#firstname,#lastname,#email,#phone{
    width: 200px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
    
     
}
#gender{
    width: 70px;
    height: 25px;
    margin-bottom: 15px;
    text-align: center;
    
     
}
#dob{
    width: 125px;
    height: 25px;
    
    margin-bottom: 15px;
    text-align: center;
    
     
}
#ride{
  
    
    width: 98px;
    height: 25px;
    margin-bottom: 15px;
    text-align: center;

}
#password,#cpassword,#nid,#address{
    width: 450px;
    height: 30px;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
}

#pic{
    
    font-size: 15px;
    text-align: center;
}
#file{
    
    font-size: 10px;
    text-align: center;
}

#starttime,#endtime{
  
    margin-bottom: 15px;
    width: 90px;
    height: 25px;
    

}
#nendtime{
  
    margin-left: 40px;  
    
    margin-bottom: 15px;
    font-size: 16px;
    width: 30px;
    height: 20px;

}

#sride,#nstarttime,#npic,#ngender,#ndob{

    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 30px;
    height: 20px;
    
    

}
#pic{
    margin-bottom: 15px;
    
    height: 25px;
}



#check{
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 15px;
    
}
#sign_up{
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center;
 
}
#sign{
    
    text-align: center;
 
}
#already{
    
    text-align: center;
    margin: 5px;
    color: black;
 
}
#myusername{

    text-align: center;
    margin: 5px;
    color: red;
    font-size: 10px;
}
#nf{
    
    text-align: center;
    color: red;
}
#pp{
    font-size: 10px;
    color: red;
    width: 400px;
    text-align: center;
    margin-left: 50px;
}

#fn,#fsn,#ln,#pn,#sdob,#em,#p,#c,#cp,#nd,#ad,#dt,#id,#ent{
    font-size: 10px;
    color: red;
    width: 400px;
    text-align: center;
    margin-left: 50px;
}
